html, body {
  height: 100%;
  width: 100%;
  background-color: hotpink;
  flex display:flex;
  column flex direction:column;
}
.form-box{
  color: pink;
  width: 80%;
  height: 80%;
}
h1{
  text-align: center;
}
table{
  width: 100%;
  height: 10%;
  
  cellpadding:5px;
  border: 1px;
  
  
}
.input-group{
  border-radius: 10%;
  cellpadding:5px;
  top: 30px;
  width: 150px;
  
}
.select{
  border radius:10%;
  cellpadding:5px;
  top:30px;
  width:150px;
}
.submit-btn{
  width: 150px;
  padding: 10px 30px;
  cursor: pointer; 
  background: lightpink;
  border radius:30%;
}
  
  